# Python stuff
*.pyc
__init__.py
__init__.pyc
.pydevproject
*Config.py
code.py
# Don't track checkpoints
.ipynb_checkpoints

# Some usual extensions and folders
.DS_Store
*~
*.bak
*.suo
*.ncb
*.user
*.tmp
