# IDE stuff
.project
.settings
..bfg-report

# Markdown garbage:
.*.md.html

# Python stuff
*.pyc
__init__.py
__init__.pyc
.pydevproject
*Config.py
code.py
# Don't track checkpoints
.ipynb_checkpoints

# Some usual extensions and folders
.DS_Store
*~
*.bak
*.suo
*.ncb
*.user
*.tmp

# Ignore some data
data/omnistereo_symbolic.pkl
data/real/old/VICON
data/real/old/simple/calibration
data/real/old/simple/scene/cloud*
data/synthetic/new
data/synthetic/old/simple/calibration
data/real/new
data/synthetic/old/simple/scene/cloud
